{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
